# default ignore
.lightly
.c_bin
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
config.yaml
/thor/node_modules/
/thor/dist/
/thor/unpackage/
/thor/.DS_Store
/thor/.hbuilderx/
/thor/uniCloud-aliyun/
/thor/uni_modules/