# default ignore
.lightly
.c_bin
.classes
logs
*.log
node_modules
dist
dist-ssr
*.local
config.yaml
/ThorUI-uni-vip1/node_modules/
/ThorUI-uni-vip1/dist/
/ThorUI-uni-vip1/unpackage/
/ThorUI-uni-vip1/.DS_Store
/ThorUI-uni-vip1/.hbuilderx/
/ThorUI-uni-vip1/uniCloud-aliyun/
/ThorUI-uni-vip1/uni_modules/