.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 将页面分为左右两栏，每列宽度相等 */
    gap: 20px; /* 左右两栏之间的间距 */
}

.left-column {
    background-color: #F8F8F8;
    padding: 40px;
}

.right-column {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(7, 123, 255, 0.1);
    display: flex; /* 添加flex布局属性 */
    align-items: center; /* 垂直居中内容 */
    justify-content: center; /* 水平居中内容 */
}

#mapContainer {
    height: 400px;
    width: 100%; /* 设置地图容器宽度为100% */
}

#cityTable {
    width: 100%;
    border-collapse: collapse;
}

#cityTable th,
#cityTable td {
    padding: 10px;
    border: 1px solid #ccc;
}

#cityTable th {
    background-color: #f8f8f8;
    text-align: left;
}

