<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>高德地图点位分布与ECharts表格数据</title>
    <style>
        #mapContainer {
            width: 60%;
            height: 400px;
            display: inline-block;
        }
        #chartContainer, #tableContainer {
            width: 30%;
            height: 400px;
            display: inline-block;
            margin-top: 20px;
        }

        @media screen and (max-width: 768px) {
            #mapContainer, #chartContainer, #tableContainer {
                width: 100%;
                display: block;
            }
        }
    </style>

    <!-- 引入高德地图API -->
    <script src="https://webapi.amap.com/maps?v=2.0&key=a7e7f4627788a84cc785e95ee11a4bb4"></script>
    <!-- 引入ECharts库 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/page1.css">
    <link rel="stylesheet" type="text/css" href="static/css/page2.css">
</head>
<body>
<div id="page1">
    <h1>市场调研报告</h1>
    <p>封面</p>
    <p>2021年10月</p>
</div>
<div id="page2" class="container">
    <div class="left-column">
        <table id="cityTable2"></table> <!-- 表格放置在左侧栏内 -->
    </div>
    <div class="right-column">
        <div id="mapContainer2"></div> <!-- 新增的div用于显示地图 -->
    </div>
</div>
<div id="page3" class="container">
    <div class="left-column">
        <table id="cityTable"></table> <!-- 表格放置在左侧栏内 -->
    </div>
    <div class="right-column">
        <div id="mapContainer"></div> <!-- 新增的div用于显示地图 -->
    </div>
</div>




<h1>高德地图点位分布与ECharts表格数据</h1>

<div id="chartContainer"></div>
<div id="tableContainer"></div>
<script src="static/js/page2.js" type="module"></script>
<script>

    // ECharts表格数据初始化
    var chart = echarts.init(document.getElementById('chartContainer'));

    // 模拟表格数据
    var data = [
        { name: '北京', value: 100 },
        { name: '上海', value: 200 },
        { name: '广州', value: 150 },
        { name: '深圳', value: 180 },
        { name: '杭州', value: 120 }
    ];

    // 表格配置项
    var option = {
        title: {
            text: '城市销售量统计'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: data.map(function (item) {
                return item.name;
            })
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: data.map(function (item) {
                return item.value;
            })
        }]
    };

    // 渲染ECharts表格
    chart.setOption(option);

    // ECharts表格数据初始化
    var table = echarts.init(document.getElementById('tableContainer'));

    // 表格配置项
    var option = {
        title: {
            text: '城市销售量统计',
            textStyle: {
                color: 'blue'
            }
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            type: 'category',
            data: ['北京', '上海', '广州', '深圳', '杭州'],
            axisLabel: {
                color: 'blue'
            }
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                color: 'blue'
            }
        },
        series: [{
            name: '销量',
            type: 'bar',
            data: [100, 200, 150, 180, 120],
            itemStyle: {
                color: '#0000ff'
            }
        }]
    };

    // 渲染ECharts表格
    table.setOption(option);
</script>
</body>
</html>
