<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<title>覆盖物的添加与移除</title>
		<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
		<script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
		<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
		<style>
			html,
			body,
			#container {
				width: 100%;
				height: 100%;
			}

			label {
				width: 55px;
				height: 26px;
				line-height: 26px;
				margin-bottom: 0;
			}

			button.btn {
				width: 80px;
			}
		</style>
	</head>
	<body>
		<div id="container"></div>
		<div class="input-card" style="width:24rem;">
			<h4>添加、删除覆盖物</h4>
			<div class="input-item">
				<label>Circle：</label>
				<button class="btn" id="add-circle" style="margin-right:1rem;">添加Circle</button>
				<button class="btn" id="remove-circle">删除Circle</button>
			</div>
			<div class="input-item">
				<label>Rectangle：</label>
				<button class="btn" id="add-rectangle" style="margin-right:1rem;">添加Rectangle</button>
				<button class="btn" id="remove-rectangle">删除Rectangle</button>
			</div>
		</div>
		<script src="https://webapi.amap.com/maps?v=2.0&key=a7e7f4627788a84cc785e95ee11a4bb4"></script>
		<script>
			var map = new AMap.Map('container', {
				resizeEnable: true,
				zoom: 11,
				center: [116.397428, 39.90923]
			});
			// 构造矢量圆形
			var circle = new AMap.Circle({
				center: new AMap.LngLat("116.403322", "39.920255"), // 圆心位置
				radius: 1000, //半径
				strokeColor: "#F33", //线颜色
				strokeOpacity: 1, //线透明度
				strokeWeight: 3, //线粗细度
				fillColor: "#ee2200", //填充颜色
				fillOpacity: 0.35 //填充透明度
			});

			function calculateDestinationPoint(center, distance, bearing) {
				var radius = 6371; // 地球半径（单位：千米）
				var angularDistance = distance / radius;
				var initialLatRad = center[1] * Math.PI / 180;
				var initialLngRad = center[0] * Math.PI / 180;
				var bearingRad = bearing * Math.PI / 180;

				var newLatRad = Math.asin(Math.sin(initialLatRad) * Math.cos(angularDistance) + Math.cos(initialLatRad) * Math
					.sin(angularDistance) * Math.cos(bearingRad));
				var newLngRad = initialLngRad + Math.atan2(Math.sin(bearingRad) * Math.sin(angularDistance) * Math.cos(
					initialLatRad), Math.cos(angularDistance) - Math.sin(initialLatRad) * Math.sin(newLatRad));

				var newLat = newLatRad * 180 / Math.PI;
				var newLng = newLngRad * 180 / Math.PI;

				return [newLng, newLat];
			}

			var center = [116.399448, 39.92779]; // 正方形的中心点坐标
			var sideLength = 2.9; // 正方形的边长

			// 计算正方形的四个顶点坐标
			var southwest = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 225);
			var northwest = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 135);
			var northeast = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 45);
			var southeast = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 315);

			console.log("Southwest:", southwest);
			console.log("Northwest:", northwest);
			console.log("Northeast:", northeast);
			console.log("Southeast:", southeast);

			var bounds = new AMap.Bounds(southwest, northeast);
			var rectangle = new AMap.Rectangle({
				bounds: bounds,
				strokeColor: "#3366FF",
				strokeOpacity: 1,
				strokeWeight: 3,
				fillColor: "#99CCFF",
				fillOpacity: 0.35
			});


			rectangle.on('mousemove', function(e) {
				var bounds = rectangle.getBounds();
				var corners = [
					bounds.getSouthWest(), // 左下角
					bounds.getNorthWest(), // 左上角
					bounds.getNorthEast(), // 右上角
					bounds.getSouthEast() // 右下角
				];

				var sideLengths = [
					AMap.GeometryUtil.distance(corners[0], corners[1]),
					AMap.GeometryUtil.distance(corners[1], corners[2]),
					AMap.GeometryUtil.distance(corners[2], corners[3]),
					AMap.GeometryUtil.distance(corners[3], corners[0])
				];

				var content = "左下角坐标：" + corners[0].toString() + "<br>" +
					"左上角坐标：" + corners[1].toString() + "<br>" +
					"右上角坐标：" + corners[2].toString() + "<br>" +
					"右下角坐标：" + corners[3].toString() + "<br><br>" +
					"左边长度：" + sideLengths[0].toFixed(2) + " 米<br>" +
					"上边长度：" + sideLengths[1].toFixed(2) + " 米<br>" +
					"右边长度：" + sideLengths[2].toFixed(2) + " 米<br>" +
					"下边长度：" + sideLengths[3].toFixed(2) + " 米";

				var infoWindow = new AMap.InfoWindow({
					content: content,
					position: e.lnglat,
					offset: new AMap.Pixel(0, -30) // 设置信息窗体偏移量，使其不遮挡覆盖物
				});

				infoWindow.open(map);
			});


			// 添加鼠标移出事件，关闭信息窗口
			rectangle.on('mouseout', function() {
				map.clearInfoWindow();
			});

			map.add(rectangle);
			
			// document.querySelector("#add-circle").onclick = function() {
			// 	map.add(circle);
			// 	map.setFitView();
			// }
			// document.querySelector("#remove-circle").onclick = function() {
			// 	map.remove(circle);
			// 	map.setFitView();
			// }
			// document.querySelector("#add-rectangle").onclick = function() {
			// 	map.add(rectangle);
			// 	map.setFitView();
			// }
			// document.querySelector("#remove-rectangle").onclick = function() {
			// 	map.remove(rectangle);
			// 	map.setFitView();
			// }
		</script>r