<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
		<title>覆盖物的添加与移除</title>
		<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
		<script src="https://cache.amap.com/lbs/static/es5.min.js"></script>
		<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
		<style>
			html,
			body,
			#container {
				width: 100%;
				height: 100%;
			}

			label {
				width: 55px;
				height: 26px;
				line-height: 26px;
				margin-bottom: 0;
			}

			button.btn {
				width: 80px;
			}
		</style>
	</head>
	<body>
		<div id="container"></div>
		<script src="https://webapi.amap.com/maps?v=2.0&key=a7e7f4627788a84cc785e95ee11a4bb4"></script>
		<script>
			var map = new AMap.Map('container', {
				resizeEnable: true,
				zoom: 11,
				center: [116.397428, 39.90923]
			});

			function calculateDestinationPoint(center, distance, bearing) {
			    var radius = 6378137; // 地球半径（单位：米）
			    var angularDistance = distance / radius;
			    var initialLatRad = center[1] * Math.PI / 180.0;
			    var initialLngRad = center[0] * Math.PI / 180.0;
			    var bearingRad = bearing * Math.PI / 180.0;
			
			    var sinInitialLat = Math.sin(initialLatRad);
			    var cosInitialLat = Math.cos(initialLatRad);
			    var sinAngularDistance = Math.sin(angularDistance);
			    var cosAngularDistance = Math.cos(angularDistance);
			    var sinBearing = Math.sin(bearingRad);
			    var cosBearing = Math.cos(bearingRad);
			
			    var newLatRad = Math.asin(sinInitialLat * cosAngularDistance + cosInitialLat * sinAngularDistance * cosBearing);
			    var newLngRad = initialLngRad + Math.atan2(sinBearing * sinAngularDistance * cosInitialLat, cosAngularDistance - sinInitialLat * Math.sin(newLatRad));
			
			    var newLat = newLatRad * 180.0 / Math.PI;
			    var newLng = newLngRad * 180.0 / Math.PI;
			
			    return [newLng, newLat];
			}

			var center = [116.399448, 39.92779]; // 正方形的中心点坐标
			var sideLength = 2999; // 正方形的边长

			// 计算正方形的四个顶点坐标
			var southwest = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 225);
			var northwest = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 135);
			var northeast = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 45);
			var southeast = calculateDestinationPoint(center, sideLength / Math.sqrt(2), 315);


			var bounds = new AMap.Bounds(southwest, northeast);
			var rectangle = new AMap.Rectangle({
				bounds: bounds,
				strokeColor: "#3366FF",
				strokeOpacity: 1,
				strokeWeight: 3,
				fillColor: "#99CCFF",
				fillOpacity: 0.35
			});


			rectangle.on('mousemove', function(e) {
				var bounds = rectangle.getBounds();
				var corners = [
					bounds.getSouthWest(), // 左下角
					bounds.getNorthWest(), // 左上角
					bounds.getNorthEast(), // 右上角
					bounds.getSouthEast() // 右下角
				];

				var sideLengths = [
					AMap.GeometryUtil.distance(corners[0], corners[1]),
					AMap.GeometryUtil.distance(corners[1], corners[2]),
					AMap.GeometryUtil.distance(corners[2], corners[3]),
					AMap.GeometryUtil.distance(corners[3], corners[0])
				];

				var content = "左下角坐标：" + corners[0].toString() + "<br>" +
					"左上角坐标：" + corners[1].toString() + "<br>" +
					"右上角坐标：" + corners[2].toString() + "<br>" +
					"右下角坐标：" + corners[3].toString() + "<br><br>" +
					"左边长度：" + sideLengths[0].toFixed(2) + " 米<br>" +
					"上边长度：" + sideLengths[1].toFixed(2) + " 米<br>" +
					"右边长度：" + sideLengths[2].toFixed(2) + " 米<br>" +
					"下边长度：" + sideLengths[3].toFixed(2) + " 米";

				var infoWindow = new AMap.InfoWindow({
					content: content,
					position: e.lnglat,
					offset: new AMap.Pixel(0, -30) // 设置信息窗体偏移量，使其不遮挡覆盖物
				});

				infoWindow.open(map);
			});


			// 添加鼠标移出事件，关闭信息窗口
			rectangle.on('mouseout', function() {
				map.clearInfoWindow();
			});

			map.add(rectangle);
			
		</script>r